*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;    
    width: 100vw;
    height: 100vh;    
    background-color:antiquewhite;
}

.encabezado{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: row;
    width: 100%;
    background-color:rgb(134, 169, 197);
}

.image-profile{
    height: 10rem;
    width: 10rem;
    background-color: aquamarine;
    border-radius: 5rem;
}

.apellidos{
    color: blueviolet;
}

.curso{
    font-size: 20px;
}


.aside{     
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 30%;
}

a{
    text-decoration: none;
    color: black;
}

.lista{
    list-style: none;
}

.lista-estudios{
    list-style: none;
}

.articulo{
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: justify;
}

.seccion-1{
    width: 45%;
}